html,
html body,
#root,
.app, .app__body {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.app__body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #9d747412;
}
