.icon-with-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.8;
}

.contact-subtitle {
  opacity: 0.7;
}

.contact-basic, .contact-secondary {
    height: 50%;
}

.contact-secondary {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
    background: linear-gradient(
    to bottom,
    white 0%,
    white 50%,
    #7cee5c29 50%,
    #7cee5c29 100%
  );
}

.header-contact {
  flex: 2;
  padding-top: 1rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.header-image {
  flex: 1;
}
